<div id="<%= dom_id newcomment %>">
  <p>
    <strong>Body:</strong>
    <%= newcomment.body %>
  </p>

  <p>
    <strong>Pcuser:</strong>
    <%= newcomment.pc_user_id %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= newcomment.report_id %>
  </p>

</div>
