<h1>Editing newcomment</h1>

<%= render "form", newcomment: @newcomment %>

<br>

<div>
  <%= link_to "Show this newcomment", report_newcomment_path(resport.id,@newcomment.id) %> |
  <%= link_to "Back to newcomments", report_newcomment_path(@report.id) %>
</div>
