<h1>Editing newcomment</h1>

<%= render "form", newcomment: @newcomment %>

<br>

<div>
  <%= link_to "Show this newcomment", @newcomment %> |
  <%= link_to "Back to newcomments", newcomments_path %>
</div>
