<p style="color: green"><%= notice %></p>

<h1>Reports</h1>

<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to "Show this report", report %>
    </p>
  <% end %>
</div>
<% if pc_user_signed_in? %>
    <% if current_pc_user.role == "admin" %>
      <%= link_to "New report", new_report_path %>
<% end %>
<% end%>